<% content_for :title, t('staff.login.title') %>

<main class="admin-login">
  <div class="container">
    <h1 class="dark-primary-color-fg title">
      <%= t 'app.title' %>
      <sup class="version">
        v<%= t 'app.version' %>
      </sup>
    </h1>
    <h2 class="subtitle">
      <%= t 'admin.login.as-admin' %>
    </h2>

    <form>
      <div class="row">
        <div class="col-sm-2">
          <%= fa_icon 'user-circle' %>
        </div>
        <div class="col-sm-10">
          <input type="text" name="username" placeholder="Nama Pengguna" autofocus>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <%= fa_icon 'key', class: 'custom-key' %>
        </div>
        <div class="col-sm-10">
          <input type="password" name="password" placeholder="Kata Sandi">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <label>
            <input type="checkbox" name="remember" value="true">
            <span>Biarkan saya tetap masuk</span>
          </label>
        </div>
      </div>
      <div class="row">
        <input class="dark-primary-color-bg" type="submit" value="Masuk">
      </div>
    </form>

    <div class="links">
      <div class="forgot-password">
        Lupa kata sandi?
        <a href="/admin/recover/">Pulihkan</a> sekarang!
      </div>
      <div class="login-as-admin">
        Anda staf?
        <a href="/staff/login/">Masuk sebagai staf</a> saja.
      </div>
    </div>
  </div>
</main>
<footer class="single-page">
  <div class="container">
    <div class="row copyright">
      <div class="col-md-4">
        Hak cipta &copy; 2018,
        <a href="/developer/" target="_blank" rel="noopener noreferrer">Pengembang SIPERAN</a>.<br>
        Lisensi penggunaan di bawah
        <a href="/license/" target="_blank" rel="noopener noreferrer">The MIT License</a>.
      </div>
      <div class="col-md-8">
        <div class="navigation">
          <a href="/guide/" target="_blank" rel="noopener noreferrer">
            Panduan Penggunaan
          </a>
          <a href="https://github.com/wisn/siperan/issues/" target="_blank" rel="noopener noreferrer">
            Laporkan Masalah
          </a>
          <a href="https://github.com/wisn/siperan/" target="_blank" rel="noopener noreferrer">
            Lihat Kode Sumber
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

