<% content_for :title, 'Manage Staff | SIPERAN' %>

<%= render 'dashboard_header' %>

<main class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>Manage Staff</h1>
        <div class="hr"></div>
      </div>
      <div class="col-sm-4 menu">
        <a class="button" href="/admin/dashboard/new_staff">
          Add a New Staff
        </a>
      </div>
    </div>
    <section class="list">
      <% if @staff.present? %>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fullname</th>
              <th scope="col">Username</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <% i = 0 %>
          <tbody>
            <% @staff.each do |s| %>
              <tr>
                <th scope="row"><%= i += 1 %></th>
                <td><%= s.fullname %></td>
                <td><%= s.username %></td>
                <td>
                  <a class="btn btn-sm btn-primary" href="/admin/dashboard/edit_staff/<%= s.username %>/">Edit</a>
                  <a class="btn btn-sm btn-danger" href="/admin/dashboard/remove_staff/<%= s.username %>/">Remove</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div align="center" class="no-data">
          Currently, there is no staff. Consider to add a new one.
        </div>
      <% end %>
    </section>
  </div>
</main>

<footer class="single-page">
  <%= render 'partial/footer' %>
</footer>

