<% content_for :title, 'Manage Visitor | SIPERAN' %>

<%= render 'dashboard_header' %>

<main class="dashboard">
  <div class="container">
    <div align="center">
      <h1>Updating Visitor</h1>
      <div class="hr"></div>
    </div>
    <section class="form">
      <%= form_with scope: :visitor, url: :staff_edit_visitor_validation, local: true do |form| %>
        <div class="row">
          <%= form.text_field :fullname, placeholder: 'Fullname' %>
        </div>
        <div class="row">
          <%= form.text_field :username, placeholder: 'Username', disabled: true %>
        </div>
        <div class="row">
          <%= form.text_field :age, placeholder: 'Age' %>
        </div>
        <div class="row">
          <input class="dark-primary-color-bg" type="submit" value="Update Staff">
        </div>

        <% if @visitor and @visitor.errors.any? %>
          <div class="error-message">
            <h2>Error occurred:</h2>
            <ul>
              <% @visitor.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end%>
    </section>
  </div>
</main>

<footer class="single-page">
  <%= render 'partial/footer' %>
</footer>

