<% content_for :title, t('staff.login.title') %>

<main class="staff-login">
  <div class="container">
    <h1 class="dark-primary-color-fg title">
      <%= t 'app.title' %>
      <sup class="version">
        v<%= t 'app.version' %>
      </sup>
    </h1>
    <h2 class="subtitle">
      <%= t 'staff.login.as-staff' %>
    </h2>

    <form>
      <div class="row">
        <div class="col-sm-2">
          <%= fa_icon 'user-circle' %>
        </div>
        <div class="col-sm-10">
          <input type="text" name="username" placeholder="Username" autofocus>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <%= fa_icon 'key', class: 'custom-key' %>
        </div>
        <div class="col-sm-10">
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <label>
            <input type="checkbox" name="remember" value="true">
            <span>Let me logged in for a while</span>
          </label>
        </div>
      </div>
      <div class="row">
        <input class="dark-primary-color-bg" type="submit" value="Login">
      </div>
    </form>

    <div class="links">
      <div class="forgot-password">
        Forgot password?
        <a href="javascript:alert('Please ask your admin to recover your account!');">Recover</a> now!
      </div>
      <div class="login-as-admin">
        Are you an admin?
        <a href="/admin/login/">Login as admin</a> instead.
      </div>
    </div>
  </div>
</main>

<footer class="single-page">
  <%= render 'partial/footer' %>
</footer>
